{% extends 'base_two_col.html.twig' %}

{% block highlights_name %}My History{% endblock %}
{% block highlights_desc %}Tracking all of my purchase deals{% endblock %}

{% block left_side %}
    <div class="form-group">
        <label class="text-main-dark">From</label>
        <input name="start" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label class="text-main-dark">To</label>
        <input name="end" class="form-control" type="date" />
    </div>
    <button class="py-2 border-0 rounded bg-main-dark text-white btn-block shadow btn-filter-date">Filter</button>
{% endblock %}

{% block right_side %}
    <div class='row p-0'>
        <div class="p-0 pb-2 col-lg-12 text-center">
            <p class="h4 text-main float-right">Total: <span class="text-main-dark out-purchase-total">{{ total }} $</span></p>
            <p class="h4 text-main-dark float-left"><span class="text-main out-purchase-count">{{ purchases | length }}</span> purchases</p>
        </div>
    </div>
    <div class='row' id='list-purchases'>
        {% for purchase in purchases %}
            <div class="col-lg-12 mb-3 border rounded-top shadow bg-main-light purchase-item">
                <div class="row bg-main-gradient text-white font-weight-bold p-2">
                    <div class="col-8">Date: {{ purchase.date | date ('d/m/Y') }}</div>
                    <div class="col-4 text-right">Total: {{ purchase.getTotalPrice() }} $</div>
                </div>
                <div class="row p-4">
                    {% for detail in purchase.getPurchaseDetails() %}
                    <div class="showcase-item col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 bg-main rounded-lg shadow p-0">
                            {% if detail.getProduct().getPhoto() != null %}
                                <img class='w-100 h-100 rounded-lg shadow' src='../{{ detail.getProduct().getPhoto() }}' />
                            {% endif %}
                            </div>
                            <div class="col-lg-9">
                                <h4 class="text-main-dark">{{ detail.getProduct().name }}</h4>
                                <p>{{ detail.getProduct().description }}</p>
                                <span class="badge bg-success text-white shadow">{{ detail.getDetailTotalPrice () }} $</span>
                                <span class="badge bg-main-dark text-white shadow mx-2">{{ detail.quantity }} Units</span>
                                <span class="badge bg-main-dark text-white shadow">{{ detail.getProduct().price }} $</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}